<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./services.component.css"> <!-- Agrega aquí tu archivo de estilos CSS -->
</head>
<body>
  <section class="services-container">
    <div class="services-background"></div>
    <div class="services-content">
      <h2>Nuestros Servicios</h2>
      <div class="service-item">
        <h3>Servicio 1</h3>
        <p>Descripción del servicio 1.</p>
      </div>
      <div class="service-item">
        <h3>Servicio 2</h3>
        <p>Descripción del servicio 2.</p>
      </div>
      <div class="service-item">
        <h3>Servicio 3</h3>
        <p>Descripción del servicio 3.</p>
      </div>
    </div>
</section>
  
  
