<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./about.component.css"> <!-- Agrega aquí tu archivo de estilos CSS -->
</head>
<body>
<section class="about-container">
    <div class="about-content">
      <h2>Acerca de Nosotros</h2>
      <p>Somos una agencia de marketing digital y brand growth comprometida con el éxito de nuestros clientes. Nuestra misión es ayudarte a alcanzar tus objetivos a través de estrategias innovadoras y soluciones creativas.</p>
    </div>
  </section>
  
