

@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
    flex-direction: row;
}}


@media (max-width: 450px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  .mr-2{
    width: 50px;

  }
}

.nav-item{
  margin-right: 15px;
  color: rgb(39, 206, 150);
}

.nav-link{
  color: rgb(0, 0, 0);
}

.bg-primary{
  --bs-bg-opacity: 0.5;
  background-color: #ffffff !important;
}

.mr-2{
  width: 200px;
}
